<div class="row fixed-bottom text-center">
    <div class="col-4">
        <NavLink class="nav-link" href="/">
            <span class="oi oi-timer" aria-hidden="true"></span>
        </NavLink>
    </div>
    <div class="col-4">
        <NavLink class="nav-link" href="intervaltimers">
            <span class="oi oi-script" aria-hidden="true"></span>
        </NavLink>
    </div>
    <div class="col-4">
        <NavLink class="nav-link" href="stopwatchpage">
            <span class="oi oi-clock" aria-hidden="true"></span>
        </NavLink>
    </div>
</div>

@code {

}
