@page "/timerspage"

<button type="button" @onclick="Add"><span class="oi oi-plus" aria-hidden="true"></span></button>


@if (TimerList.Any())
{
    foreach (TimerItem timer in TimerList)
    {
        <table>
            <tbody>
                <TimerItem Name="@timer.Name" Time="@timer.Time" DuplicateCallback="Duplicate" DeleteCallback="Delete"></TimerItem>
            </tbody>
        </table>
    }
}
else
{
    <div>There are no timers to display.</div>
}

@code {
    public List<TimerItem> TimerList { get; set; } = new List<TimerItem>();

    public void Add()
    {
        TimerList.Add(new TimerItem());
        StateHasChanged();
    }

    public void Delete(TimerItem timerToDelete)
    {
        TimerList.Remove(timerToDelete);
        StateHasChanged();
    }

    public void Duplicate(TimerItem timerToDuplicate)
    {
        TimerList.Add(timerToDuplicate);
        StateHasChanged();
    }
}
