@page "/timerpage"

<p>@TimeLeft</p>
<p>@displayText</p>

@code {
    TimeSpan TimeLeft = new TimeSpan(0, 0, 15);

    string displayText = "";

    protected override Task OnInitializedAsync()
    {
        Task.Run(() => Timer());
        return base.OnInitializedAsync();
    }

    async Task Timer()
    {
        while (TimeLeft > new TimeSpan())
        {
            await Task.Delay(1000);
            TimeLeft = TimeLeft.Subtract(new TimeSpan(0, 0, 1));
            StateHasChanged();
        }
        await AfterTime();
        StateHasChanged();
    }

    Task AfterTime()
    {
        displayText = "time expired";

        return Task.CompletedTask;
    }
}
